<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rhadjni.lifeplanner">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <!-- <activity -->
        <!-- android:name=".Tasks" -->
        <!-- android:parentActivityName=".MainActivity" /> -->
        <activity
            android:name=".Activities.Calculator"
            android:parentActivityName=".Activities.MainActivity" />

        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rhadjni.lifeplanner.Activities.MainActivity" />
        </activity>
        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="singh.ajit.action.DISPLAY_NOTIFICATION"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.NotificationActivity"
            />
    </application>

</manifest>